<div class="ml-3 mr-3 mt-2">
	<label for="basic-url" style="color:white">
    Definir Promoção
  </label>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<label class="input-group-text" for="inputGroupSelect01">Categoria</label>
		</div>
		<select class="custom-select" id="inputGroupSelect01">
        <option selected>Escolher...</option>
        <option value="1">Alimentício</option>
        <option value="2">Bebidas</option>
        <option value="3">Eletrodomésticos</option>
        <option value="4">Feira</option>
        <option value="5">Frios</option>
        <option value="6">Higiene Pessoal</option>
      </select>
	</div>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<label class="input-group-text" for="inputGroupSelect01">Produto</label>
		</div>
		<select class="custom-select" id="inputGroupSelect01">
        <option selected>Escolher...</option>
        <option value="1">Produto A</option>
        <option value="2">Produto B</option>
        <option value="3">Produto C</option>
        <option value="4">Produto D</option>
        <option value="5">Produto E</option>
        <option value="6">Produto F</option>
      </select>
	</div>

	<label for="basic-url" style="color:white">Novo Preço</label>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">R$</span>
		</div>
		<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
		<div class="input-group-append">
			<span class="input-group-text">.00</span>
		</div>
	</div>

	<button type="button" class="btn btn-success btn-lg btn-block" routerLink="/login">Definir Promoção</button>
</div>