<body style="background-color:#4A4A48; margin: 0px; min-height: 100%; width: 100%;">
	<div class="row row-cols-1 row-cols-md-3 ml-1 mr-2 mt-2">
		<prod-descr [nomeProduto]="'Produto A'" [descricao]="'Descrição do produto A.'" [preco]="'49,90'"
			[local]="'Bloco 6'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<prod-descr [nomeProduto]="'Produto B'" [descricao]="'Descrição do produto B.'" [preco]="'89,90'"
			[local]="'Bloco 2'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<prod-descr [nomeProduto]="'Produto C'" [descricao]="'Descrição do produto C.'" [preco]="'59,90'"
			[local]="'Bloco 3'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<prod-descr [nomeProduto]="'Produto D'" [descricao]="'Descrição do produto D.'" [preco]="'69,90'"
			[local]="'Bloco 2'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<prod-descr [nomeProduto]="'Produto E'" [descricao]="'Descrição do produto E.'" [preco]="'99,90'"
			[local]="'Bloco 1'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<prod-descr [nomeProduto]="'Produto F'" [descricao]="'Descrição do produto F.'" [preco]="'129,90'"
			[local]="'Bloco 5'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<prod-descr [nomeProduto]="'Produto G'" [descricao]="'Descrição do produto G.'" [preco]="'19,90'"
			[local]="'Bloco 5'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<app-prod-descr-promo [nomeProduto]="'Produto H'" [descricao]="'Descrição do produto H.'" [preco]="'89,90'"
			[local]="'Bloco 5'" [imgSrc]="'https://i.imgur.com/ajWdLoh.png'">
		</app-prod-descr-promo>
		<prod-descr [nomeProduto]="'Produto I'" [descricao]="'Descrição do produto I.'" [preco]="'79,90'"
			[local]="'Bloco 3'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<prod-descr [nomeProduto]="'Produto J'" [descricao]="'Descrição do produto J.'" [preco]="'159,90'"
			[local]="'Bloco 4'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<prod-descr [nomeProduto]="'Produto K'" [descricao]="'Descrição do produto K.'" [preco]="'49,90'"
			[local]="'Bloco 1'"
			[imgSrc]="'https://images.vexels.com/media/users/3/141185/isolated/preview/b2c7de1951d5d57e9305c96ca875e170-sacolas-de-compras-by-vexels.png'">
		</prod-descr>
		<app-prod-descr-promo [nomeProduto]="'Produto L'" [descricao]="'Descrição do produto L.'" [preco]="'69,90'"
			[local]="'Bloco 2'"
			[imgSrc]="'https://i.imgur.com/ajWdLoh.png'">
		</app-prod-descr-promo>
	</div>
</body>