<div class="containerproduto">
	<div class="linha">
		<div class="produtoimg">
			<img alt="Bootstrap Image Preview"  style="height: 150px; width: 150px;"src="https://lojasaraiva.vteximg.com.br/arquivos/ids/12107243/1003274298.jpg" />
		</div>
			<div class="coluna">
				<div class="titulo">
					<h3>
						Titulo
					</h3>
					<h3>
						Preço
					</h3>
				</div>
			</div>
			<div class="comprar">
				<button type="button" class="btn btn-success">
	    	Comprar
		    </button>
			</div>
		</div>
	</div>