<div class="ml-3">
	<label for="basic-url">Cadastrar Produto</label>
	<div class="input-group mb-3">
		<input type="text" class="form-control" placeholder="Nome do Produto" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">Categoria</label>
			</div>
			<select class="custom-select" id="inputGroupSelect01">
      <option selected>Escolher...</option>
      <option value="1">Alimentício</option>
      <option value="2">Bebidas</option>
      <option value="3">Eletrodomésticos</option>
      <option value="4">Feira</option>
      <option value="5">Frios</option>
      <option value="6">Higiene Pessoal</option>
    </select>
		</div>

		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Marca do Produto" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">Anexar Imagem</span>
				</div>
				<div class="custom-file">
					<input type="file" class="custom-file-input" id="inputGroupFile01">
					<label class="custom-file-label" for="inputGroupFile01">Escolher arquivo...</label>
				</div>
			</div>

			<label for="basic-url">Preço</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">R$</span>
				</div>
				<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
				<div class="input-group-append">
					<span class="input-group-text">.00</span>
				</div>
			</div>

			<button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/">Finalizar Cadastro</button>
		</div>